/* You can add global styles to this file, and also import other style files */
body {
  background-color: white;
  padding: 5%;
}

html,
input,
button {
  font-size: 30px;
}

.recurly-element-focus {
  background-color: pink;
}
